* {
    box-sizing: border-box;

}

body {
    background-image: url(../images/white-waves/white-waves.png);
    font-size: medium;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;

}

strong {
    font-weight: bold;

}

.division-general {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;

}

h1, h2, h3, p {
    margin-bottom: 20px;

}

p:last-child {
    margin-bottom: 0;

}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;

}

h1 {
    font-size: x-large;
    line-height: 40px;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 20px;

}

h2 {
    font-size: larger;

}

h3 {
    font-size: large;

}

#header-main {
    background: #ffffff;
    margin: 0 0 30px;
    z-index: 99;
    color: #ffffff;
    overflow: auto;
    border-bottom: 2px solid #cccccc;
    position: fixed;
    width: 100%;

}

#name-logo {
    background: #4aaaa5;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    padding: 25px;

}

#name-logo:hover {
    background: #80d6b6;
    
}

nav {
    float: right;
    padding: 25px 0;

}

nav a {
    color: #777777;
    text-decoration: none;
    border-left: 1px solid #cccccc;
    margin-left: 15px;
    padding-left: 15px;

}

p a {
    color: #777777;
    text-decoration: none;

}

nav a:first-child {
    border-left: none;

}

nav a:hover, p a:hover {
    color: #80d6b6;

}

#division-main {
    padding-top: 120px;

}

.section-main {
    background: #ffffff;
    padding: 25px;
    margin: 0 0 30px;
    width: 100%;
    float: left;
    border: 1px solid #dddddd;

}

#image-profile {
    width: 200px;
    height: auto;
    margin: 10px 20px 0 0;
    float: left;

}

.image-portfolio {
    width: 300px;
    height: 400px;
    float: left;
    border: 1px solid rgb(216, 216, 216);
    
}

footer {
    background: #666666;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #cccccc;
    text-align: center;
    font-size: small;

}

.division-image-portfolio {
    width: 45%;
    position: relative;
    float: left;
    margin: 5% 2.5%;

}

.division-image-portfolio img {
    width: 100%;
    opacity: .8;

}

.division-image-portfolio h2 {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10%;
    line-height: 30px;
    padding: 15px;
    margin-bottom: 0;

}

.division-image-portfolio h2:hover {
    background: #80d6b6;

}

#form-contact {
    margin: 25px 0 10px;

}

label,
input[type=text],
input[type=email],
textarea {
    width: 100%;
    margin-bottom: 10px;

}

input[type=text],
input[type=email],
textarea {
    border: 1px solid #dddddd;
    font-size: medium;
    padding: 10px;

}

textarea {
    height: 200px;
    font-size: large;

}

input[type=submit] { 
    color: #ffffff;
    background: #4aaaa5;
    font-size: large;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    
}

input[type=submit]:hover { 
    background: #80d6b6;

}

@media screen and (max-width: 980px) {
    .division-general {
        max-width: 748px;

    }

}

@media screen and (max-width: 768px) {
    .division-general {
        max-width: 620px;

    }

}

@media screen and (max-width: 640px) {
    #name-logo {
        width: 100%;

    }

    #header-main {
        position: static;

    }

    nav {
        width: 100%;
        text-align: center;

    }

    #division-main {
        padding-top: 0px;
    
    }

    .division-image-portfolio {
        width: 100%;

    }
    
}